.hierarchy-select
{
    width: 100%;
}

.hierarchy-select .dropdown-menu
{
    width: 100%;
    padding: 0 !important;
    /*top: -49px !important;*/
}

.dropdown-toggle::after
{
    display: none;
}

.hierarchy-select .hs-menu-inner a.dropdown-item
{
    text-align: right !important;
}

.hs-searchbox input
{
    padding: 0 !important;
    margin: 0 !important;
}

.hierarchy-select.dropdown .hs-searchbox {
    padding: 0!important;
}

.hierarchy-select button
{
    border: 0.5px solid var(--theme-blue);
}

.hs-menu-inner .dropdown-item.active
{
    background-color: var(--theme-blue);
}

.rtl .hierarchy-select .hs-menu-inner a.dropdown-item
{
    text-align: left !important;
}

@media screen and (max-width: 576px){
    .hierarchy-select {
        padding: 0 !important;
    }
}



