

/*new search box css*/
.hierarchy-select
{
    width: 100%;
}

.search-input-bar
{
    border: 0;
    padding: 0;
}

.hierarchy-select > button
{
    border: 0;
    text-align: right;
    height: 50px;
}

.hierarchy-select .dropdown-menu {
    top: -64px !important;
    width: 100%;
    padding: 0;
    /*margin-left: 10px !important;*/
    border: 0;
    overflow: unset !important;
}

.hs-menu-inner::-webkit-scrollbar {
    width: 4px;               /* width of the entire scrollbar */
}

.hs-menu-inner::-webkit-scrollbar {
    float: left !important;              /* width of the entire scrollbar */
}

.hs-menu-inner::-webkit-scrollbar-track {
    background: var(--theme-white);        /* color of the tracking area */
}

.hs-menu-inner::-webkit-scrollbar-thumb {
    background-color: var(--theme-blue);    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid var(--theme-blue);  /* creates padding around scroll thumb */
}

.hs-menu-inner a.dropdown-item.active {
    background-color: unset;
}

.search-right-arrow
{
    position: absolute;
    left: 0;
    top: 26px;
    display: none;
    margin-left: 10px;
}

.search-left-arrow
{
    position: absolute;
    margin-left: auto;
    top: 31px;
    display: block;
    right: 5px;
}

.rtl .search-left-arrow
{
    display: none;
}

.rtl .search-right-arrow {
    display: block;
}

.hs-menu-inner a.dropdown-item:active {
    background-color: unset !important;
}

/*.hierarchy-select .dropdown-menu {*/
/*    margin-right: -8px !important;*/
/*}*/

.rtl .hs-searchbox input
{
    padding-left: 30px;
}

.rtl .hierarchy-select .dropdown-menu {
    margin-left: -8px !important;
}

.hs-searchbox input
{
    text-align: right;
    padding-right: 30px;
    border-radius: 0;
    border: none;
    height: 70px;
    border-bottom: 1px solid;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top: unset;
}

.hierarchy-select .dropdown-toggle::after
{
    display: none;
}

.hierarchy-select .dropdown-menu::before {
    background-color: #ffffff;
    content: "";
    height: 20px;
    left: unset;
    margin: 0 30px;
    z-index: -1;
    position: absolute;
    right: 0;
    top: -8px;
    width: 13px;
    opacity: 0.95;
    border-radius: 2px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}



.hs-menu-inner a.dropdown-item.active
{
    /*background-color: var(--theme-blue);*/
    background: radial-gradient(102.59% 309.05% at 11.74% 193.12%, #CF57BB 0.07%, #292071 51.14%, #2894CF 100%);
}

.hs-menu-inner a.dropdown-item:active {
    background-color: var(--theme-blue);
}

.district-form-control
{
    border: 0.5px solid var(--theme-blue);
}

.hierarchy-select .dropdown-menu
{
    /*top: -48px !important;*/
}

.hs-menu-inner a
{
    text-align: right;
}

.all-ads
{
    z-index: -1;
}


.rtl .hierarchy-select > button {
    border: 0;
    text-align: left;
}

.rtl .hs-searchbox input {
    text-align: left;
    border-right: unset;
}

