
/* Header Starts Here */
.header {
    height: 500px;
    background-image: url("/assets/images/header-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 68px;
}

.header h1 {
    font-size: 46px;
}

.looking-for {
    width: 847px;
    max-width: 100%;
    box-shadow: -2px 2px 18px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 6px 20px 6px 10px;
    margin-top: 36px;
}

.looking-for h4 {
    font-size: 16px;
}

.looking-for .form-select {
    border: 1px solid #C9C9C9;
    border-radius: unset;
    border-bottom: 0px;
    border-top: 0px;
    border-left: 0px;
    font-family: Tajawal;
    font-size: 16px;
    color: var(--theme-black);
}

/*.looking-for .rent-select {*/
/*    margin-right: 34px;*/
/*}*/

.looking-for #city-select
{
    border:0px;
    outline:0px;
}

.looking-for input[type='search']
{
    text-align:right;
    width: 100%;
}

.looking-for input:focus-visible
{
    outline: 0;
}

.looking-for input[type="search"]::-webkit-search-decoration,
.looking-for input[type="search"]::-webkit-search-cancel-button,
.looking-for input[type="search"]::-webkit-search-results-button,
.looking-for input[type="search"]::-webkit-search-results-decoration
{
    display: none;
}


/* Header ends Here */

/* Verified */

.mb-4_5{
    margin-bottom: 38px;
}

/* Border Radius */
.b-r-8 {
    border-radius: 8px;
}
.verified {
    box-shadow: -4px 4px 40px rgba(41, 32, 113, 0.1);
    border-radius: 8px;
    padding: 48px;
    margin: -91px auto 0px auto;
    width: 88%;
}

.verified h3 {
    margin: 0 20px;
    font-size: 20px;
}

/* verified End */

/* Property Listing Start*/
.chip {
    padding: 6px 16px;
    border: 1px solid var(--theme-secondary);
    border-radius: 8px;
    font-size: 16px;
}

.property-sale {
    margin-top: 130px;
}

.property-rent {
    margin-top: 100px;
}

.property-listing-content {
    margin-bottom: 36px;
}

.property-listing p {
    font-size: 16px;
}

.property-listing h2 {
    font-size: 31px;
}

.listing {
    text-align: end;
}

.listing h3 {
    font-size: 18px;
}

.listing p {
    font-size: 14px;
    opacity: 0.5;
}

.list {
    background: url(/assets/images/list.png);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 8px;
}

.list .content {
    padding: 16px;
    margin-bottom: 85px;
}

.list .sale {
    padding: 8px 16px;
    border-radius: 8px;
    font-size: 14px;
    margin-bottom: 10px;
}

.fav-elipse {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background: var(--theme-white);
    opacity: 0.75;
    padding: 10px;
}

.list .price {
    background: var(--theme-secondary);
    box-shadow: 8px -8px 8px rgba(41, 32, 113, 0.15);
    border-radius: 0px 50px 0px 8px;
    height: 41px;
    width: 178px;
    max-width: 100%;
}

.list .price span {
    font-size: 14px;
}



/*  */
.auction {
    margin: 94px 0px;
}

.auction .hammer-circle {
    height: 120px;
    width: 120px;
    background: rgba(29, 161, 242, 0.05);
    border-radius: 50%;
    margin-right: 55px;
}

.hammer-circle img
{
    width: 44px;
    max-width: 100%;
}

.auction .card {
    height: 88px;
    background: rgba(255, 255, 255, 0.95);
    box-shadow: -2px 2px 18px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    flex-direction: row;
    padding: 0 20px;
    align-items: center;
    width: 413px;
    max-width: 100%;
    margin-bottom: 20px;
    margin-right: 1rem;
}

.auction .card2 {
    background: rgba(255, 255, 255, 0.95);
    box-shadow: -2px 2px 18px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px 20px 30px 20px;
    bottom: 66px;
}

.auction .card2 h1 {
    font-size: 22px;
    font-family: TajawalBold;
}

.auction .card2 p {
    font-size: 18px;
    color: var(--theme-sky);
    margin: 0;
}

.auction .card h1 {
    font-size: 18px;
    margin: 0;
}

.auction .card h3,
.auction .card2 h3 {
    margin: 0;
    font-size: 14px;
    font-family: TajawalMedium;
    color: var(--theme-blue)
}

.auction .card p {
    color: var(--theme-sky);
    font-size: 14px;
    margin: 0;
}

.auction .card .circle {
    width: 54px;
    height: 54px;
    margin-left: 23px;
    border-radius: 50%;
    background: radial-gradient(102.59% 309.05% at 11.74% 193.12%, #CF57BB 0.07%, #292071 51.14%, #2894CF 100%);
}

.auction-content .circle h1 {
    color: var(--theme-white)
}

.auction .zig-zag {
    background: url(/assets/images/zig-zag.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 550px;
}

.auction-content {
    text-align: end;
}

.auction-content h1 {
    font-size: 31px;
    font-family: TajawalBold;
    color: var(--theme-blue);
}

.auction-btn {
    margin-top: 36px;
}

/* Apps Style Starts */
.apps {
    background: var(--theme-sky);
}

.apps .mock-up {
    padding-top: 71px;
}

.apps h1 {
    font-size: 46px;
    font-family: TajawalBold;
    color: var(--theme-white);
}

.apps h3 {
    margin-top: 26px;
    font-family: TajawalMedium;
    font-size: 20px;
    color: var(--theme-white);
}

.apps-store {
    margin-top: 36px;
}

/* Apss Style Ends */

/* Dropdown Rent Button CSS Start */

.rent-dropdown
{
    width: 325px;
    background: #FFFFFF;
    box-shadow: -2px 2px 18px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 30px 14px;
    margin-top: 35px !important;
}

.rent-dropdown::before
{
    background-color: #ffffff;
    content: "";
    height: 20px;
    left: 0;
    margin: 0 15px;
    z-index: -1;
    position: absolute;
    right: 0;
    top: -8px;
    width: 13px;
    opacity: 0.95;
    border-radius: 2px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.rent-dropdown .rent-dropdown-content
{
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.rent-select-dropdown{
    appearance:none;
    display:none;
}

.rent-box
{
    padding: 12px 60px;
    border: 0.5px solid #292071;
    border-radius: 8px;
    letter-spacing: -0.3px;
    color: #292071;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
}

.rent-all input[type="radio"]:checked + .rent-box {
    background: var(--theme-sky);
    border: 1px solid var(--theme-sky);
    color: #fff;
}

.dropdown .rent-btn
{
    padding: 0px 20px 0 70px;
    border: 0;
    border-radius: unset;
    border-right: 1px solid #C9C9C9;
    background: transparent;
}

.complete-rent-drop img{
    position: absolute;
    top: 10px;
    width: 10px;
    max-width: 100%;
}

.rent-dropdown-toggle::after
{
    display: none;
}
.complete-rent-drop:focus-visible
{
    outline: none;
}

.rent-dropdown-toggle.rent-btn:focus-visible
{
    outline: none;
}
/* Dropdown Rent Button CSS End */

/* Dropdown select box css start */
select {
    display: none !important;
}

.dropdown-select {
    /*background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%);*/
    /*background-repeat: repeat-x;*/
    /*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#40FFFFFF', endColorstr='#00FFFFFF', GradientType=0);*/
    background-color: #fff;
    border-radius: unset;
    border-right: solid 1px #C9C9C9;
    /* box-shadow: 0px 2px 5px 0px rgba(155, 155, 155, 0.5); */
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    float: left;
    /*font-size: 14px;*/
    /*font-weight: normal;*/
    padding-right: 18px;
    padding-top: 2px;
    font-size: 16px;
    font-family: Tajawal;
    height: 26px;
    /*line-height: 40px;*/
    outline: none;
    /*padding-left: 18px;*/
    /*padding-right: 30px;*/
    position: relative;
    text-align: right;
    transition: all 0.2s ease-in-out;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: nowrap;
    /*width: auto;*/

}

.dropdown-select .list
{
    width: 330px;
    background: #FFFFFF;
    box-shadow: 0px 0px 18px rgba(41, 32, 113, 0.15);
    border-radius: 8px;
}

.dropdown-select:focus {
    background-color: #fff;

}

.form-select:focus {
    border-color: none;
    outline: 0;
    box-shadow: none;
}

.dropdown-select:hover {
    background-color: #fff;
}

.dropdown-select:active,
.dropdown-select.open {
    /*background-color: #fff !important;*/
    /*border-color: #bbb;*/
    /*box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05) inset;*/
}

/*Buy Default button of Select Box*/

/*.dropdown-select:after {*/
/*    height: 0;*/
/*    width: 0;*/
/*    border-left: 4px solid transparent;*/
/*    border-right: 4px solid transparent;*/
/*    border-top: 4px solid #777;*/
/*    -webkit-transform: origin(50% 20%);*/
/*    transform: origin(50% 20%);*/
/*    transition: all 0.125s ease-in-out;*/
/*    content: '';*/
/*    display: block;*/
/*    margin-top: -2px;*/
/*    pointer-events: none;*/
/*    position: absolute;*/
/*    right: 10px;*/
/*    top: 50%;*/
/*}*/

/*.dropdown-select.open:after {*/
/*    -webkit-transform: rotate(-180deg);*/
/*    transform: rotate(-180deg);*/
/*}*/

.dropdown-select.open .list {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    pointer-events: auto;
}

.dropdown-select.open .option {
    cursor: pointer;
}

.dropdown-select.wide {
    width: 100%;
    /*padding: 3px;*/
    /*height: 26px;*/
    /*padding: 0px 20px 0 90px;*/
}

.dropdown-select:active
{

}

.dropdown-select.wide .list {
    left: 0 !important;
    right: 0 !important;
    margin-top: 40px;
}

.dropdown-select .list {
    /* box-sizing: border-box;
    transition: all 0.15s cubic-bezier(0.25, 0, 0.25, 1.75), opacity 0.1s linear;
    -webkit-transform: scale(0.75);
    transform: scale(0.75);
    -webkit-transform-origin: 50% 0; */
    transform-origin: 50% 0;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.09);
    background-color: #fff;
    border-radius: 6px;
    margin-top: 4px;
    /* padding: 3px 0; */
    opacity: 0;
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 999;
    max-height: 250px;
    overflow: auto;

    /* border: 1px solid #ddd; */
}

.dropdown-select .list:hover .option:not(:hover) {
    background-color: transparent !important;
}
.dropdown-select .dd-search{
  overflow:hidden;
  display:flex;
  align-items:center;
  justify-content:center;
  margin: 0;
  padding: 0;
}

.dropdown-select.wide .list::-webkit-scrollbar {
    width: 3px;
    height: 96px;
}

.dropdown-select.wide .list::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(255,255,255,5);
}

.dropdown-select.wide .list::-webkit-scrollbar-thumb {
    background: #292071;
    border-radius: 8px;
}

.dropdown-select .dd-searchbox{
    width: 100%;
    border: 0;
    padding: 15px;
    font-size: 11px;
    color: var(--theme-blue);
    /* background-image: url("../assets/images/arrow-down.svg");
    background-repeat: no-repeat; */
    border-bottom: 1px solid #C9C9C9;
    border-radius: 4px;
    outline: none;
}
.dropdown-select .dd-searchbox:focus{
  border-color:#C9C9C9;
}

.dropdown-select .list ul {
    padding: 0;
}

.dropdown-select .option {
    cursor: default;
    font-weight: 400;
    line-height: 40px;
    outline: none;
    padding-left: 18px;
    padding-right: 29px;
    text-align: left;
    transition: all 0.2s;
    list-style: none;
}

.dropdown-select .option:hover,
.dropdown-select .option:focus {
    background-color: #f6f6f6 !important;
}

.dropdown-select .option.selected {
    font-weight: 600;
    color: var(--theme-blue);
}

.dropdown-select .option {
    text-align: right;
}

input[type=text]::placeholder
{
text-align: right;
    font-size: 14px;
}

.fa-solid
{
    padding-left: -12px;
    padding-right: 10px;
    border-bottom: 1px solid var(--theme-grey-light);
    padding-top: 15px;
    opacity: 0.5;
    font-size: 14px;
    color: #0F0F0F;
    padding-bottom: 15px;
}

.dropdown-select .option.selected:focus {
    background: #f6f6f6;
}

.dropdown-select a {
    color: #aaa;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

.dropdown-select a:hover {
    color: #666;
}

.city-toggle-icon
{
    position: absolute;
}

.dd-search input
{
    text-align: right;
}

/*Home page responsiveness Start From Here*/


@media screen and (max-width:1400px) {
    .footer .footer-logo {
        margin-left: 20px;
    }

    /*.m-logo img*/
    /*{*/
    /*    display: none;*/
    /*}*/
}
@media screen and (max-width:1050px) {
    .home .navbar {
        padding: 34px 24px 22px 24px;
    }
    .verified {
        padding: 25px;
    }
    .property-sale {
        margin-top: 50px;
    }
}
@media screen and (min-width:992px) {
    .m-logo img
    {
        display: none;
    }
}

@media screen and (max-width:992px) {
    .container {
        padding: 0 24px;
    }

    .m-logo img
    {
        display: block;
    }
    .home .navbar-nav{
        margin-top: 2rem;
    }
    .header h1 {
        padding: 0px 15px;
    }

    .verified {
        text-align: center;
        width: 90%;
    }

    .verified img {
        margin-bottom: 8px;
    }
}

@media screen and (max-width:768px) {

    /*.dropdown-select.wide {*/
    /*    width: auto;*/
    /*}*/

    /*.looking-for input[type='search'] {*/
    /*    text-align: right;*/
    /*    width: auto;*/
    /*}*/

    .dropdown-select.wide {
        left: 60px;
    }

    .city-toggle-icon img
    {
        margin-left: 30px;
    }
    .header h1, .property-sl-r h1, .auction-content h1, .apps h1 {
        font-size: 28px;
    }

    .verified li {
        margin-bottom: 1.5rem;
    }

    .verified h3, .apps h3 {
        font-size: 16px;
    }
    .property-listing h2 {
        font-size: 22px;
    }
    .listing h3 {
        font-size: 16px;
    }
    .listing p {
        font-size: 12px;
    }
    .property-sl-r {
        padding: 0 24px;
        margin-top: 50px;
    }
    .btn-theme {
        padding: 21px 31px;
    }
    .auction .card {
        margin-right: 0px;
    }
    .footer ul li{
        margin-bottom: 1rem;
        border: none;
    }
    .mini-footer .social-links img {
        margin-right: 22px;
    }
}


@media screen and (max-width:590px) {

    .dropdown-select.wide {
        left: 75px;
    }

    .city-toggle-icon img {
        margin-left: 40px;
    }
    .complete-rent-drop img {
        position: absolute;
        left: 15px;
        width: 15%;
        max-width: 100%;
    }
    .dropdown-select .list {
        width: 290px;
    }
}

@media screen and (min-width:576px) {
    .looking-for .search-home-btn
    {
        display: none;
    }
}

@media screen and (max-width:576px) {
    .dropdown-select .list {
        width: 215px;
    }
    .w-sm-100 {
        width: 100%;
    }
    .auction .card {
        width:100% ;
    }
    .auction .card2 p, .auction .card h1 {
        font-size: 16px;
    }
    .auction .card2 h1 {
        font-size: 18px;
    }
    .mini-footer .social-links h3 {
        margin-top: 28px;
    }
    .arrow-top{
        position: unset;
    }
    .add-btn {
        margin-left: 0;
    }

    .looking-for{
        flex-direction: column-reverse;
    }
    .dropdown-select.wide {
         left: 0px;
    }
    .dropdown .rent-btn {
        width: 100%;
        text-align: right;
    }
    .complete-rent-drop img {
        width: 11px;
        margin-left: 24px;
    }
    .looking-for input[type='search'] {
        border-bottom: 1px solid #C9C9C9 !important;
        padding: 10px 0;
    }

    .dropdown-select {
    border-right: none;
        padding-right: 0;
        border-bottom: 1px solid #C9C9C9 !important;

    }
    .dropdown-select.wide {
        margin: 10px 0;
    }
    .dropdown .rent-btn {
        border-right: none;
        padding-right: 0;
        border-bottom: 1px solid #C9C9C9 !important;
    }
    .city-toggle-icon img {
        margin-top: 10px;
    }
    .dropdown-select .list {
        width: 100%;
    }
    .rent-dropdown {
        width: 100%;
    }
    .looking-for .search-home-img
    {
        display: none;
    }

    .looking-for .search-home-btn
    {
        text-align: center;
        color: white;

    }

    .search-button-div
    {
        display: flex;
        margin-top: 15px;
        justify-content: center;
        background: var(--theme-blue);
        width: 150px;
        max-width: 100%;
        border-radius: 8px;
    }
}

@media screen and (max-width:375px) {
    /*.dropdown-select .list {*/
    /*    width: 215px;*/
    /*}*/
    .verified img {
        margin-bottom: 0px;
    }
    .property-listing h2 {
        font-size: 16px;
    }
    .home .navbar {
        padding: 25px 0px 20px 0px;
    }
}



.select-item-list{
    display: flex;
    padding: 100px 30px;
}
.select-item-list .select-item-list--single{
    padding: 20px 50px;
    width: 100%;
}
.select-item-list .select-item-list--single h4{
    font-size: 18px;

}
.directorist-select{
    min-height: 42px;
}
.directorist-select__container {
    position: absolute;
    top: 0;
    left: 0px;
    width: 100%;
    padding: 3px;
    min-width: 300px;
    background: #fff;
}

.directorist-select__container .directorist-select__label{
    font-size: 16px;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-radius: 4px;
    min-height: 42px;
    padding: 0 15px;
    background-color: #fff;
    border: 1px solid #ececec;
    cursor: pointer;
}

.directorist-select__container .directorist-select__label img,
.directorist-select__container .directorist-select__label i{
    max-width: 15px;
    width: 100%;
}

.directorist-select__container .directorist-select__selected-list .directorist-select__selected-list--item .directorist-item-remove i,
.directorist-select__container .directorist-select__selected-list .directorist-select__selected-list--item .directorist-item-remove span.fa,
.directorist-select__container .directorist-select__selected-list .directorist-select__selected-list--item .directorist-item-remove span.la{
    pointer-events: none;
}

.directorist-select__dropdown{
    background: #fff;
    box-shadow: 0 10px 40px rgb(134 142 174 / 30%);
    padding: 15px;
    box-sizing: border-box;
    display: none;
    margin-top: 4px;
    max-height: 400px;
    overflow-y: auto;
}
.directorist-select__dropdown .directorist-select__search{
    height: 42px;
    padding: 15px 20px;
    font-size: 14px;
    font-weight: 400;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 8px;
    border: 1px solid #ececec;
}
.directorist-select__dropdown .directorist-select__search:focus{
    outline: none;
    box-shadow: 0 0;
}
.directorist-select__dropdown .directorist-select__search.directorist-select__search--hide{
    display: none;
}

.directorist-select__dropdown.directorist-select__dropdown-open{
    display: block;
}

.directorist-select__dropdown .directorist-select__dropdown--inner ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.directorist-select__dropdown .directorist-select__dropdown--inner ul li{
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    padding: 5px 10px;
    cursor: pointer;
}
.directorist-select__dropdown .directorist-select__dropdown--inner ul li .directorist-select-dropdown-item-icon img{
    max-width: 20px;
}
.directorist-select.directorist-select-multi .directorist-select__container .directorist-select__label{
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #ddd;
    align-items: center;
    padding: 2.5px 15px;
    border-radius: 4px;
    margin: -4px;
    min-height: 42px;
}

.directorist-select.directorist-select-multi .directorist-select__container .directorist-select__label input{
    font-size: 14px;
    border: 0 none;
    width: auto;
    padding: 5px;
}

.directorist-select.directorist-select-multi .directorist-select__container .directorist-select__label input:focus{
    outline: none;
    border: 0 none;
}

.directorist-select.directorist-select-multi .directorist-select__container .directorist-select__label .directorist-select__selected-list{
    display: flex;
    flex-wrap: wrap;
    margin: -4px 6px -4px -4px;
}

.directorist-select.directorist-select-multi .directorist-select__container .directorist-select__label .directorist-select__selected-list,
.directorist-select.directorist-select-multi .directorist-select__container .directorist-select__label .directorist-select__search{
    margin: 0;
}

.directorist-select.directorist-select-multi .directorist-select__container .directorist-select__label .directorist-select__search{
    flex: auto;
}

.directorist-select.directorist-select-multi .directorist-select__container .directorist-select__label .directorist-select__selected-list .directorist-select__selected-list--item{
    display: inline-flex;
    align-items: center;
    font-size: 12px;
    font-weight: 600;
    color: #fff;
    padding: 5px 8px;
    background-color: #3C3D58;
    border-radius: 4px;
    min-height: 17px;
    margin: 4px;
}

.directorist-select.directorist-select-multi .directorist-select__container .directorist-select__label .directorist-select__selected-list .directorist-select__selected-list--item i{
    color: #fff;
}
.directorist-select.directorist-select-multi .directorist-select__container .directorist-select__dropdown{
    display: none;
}
.directorist-select.directorist-select-multi .directorist-select__container .directorist-select__dropdown.directorist-select__dropdown-open{
    display: block;
}
.directorist-select.directorist-select-multi .directorist-select__container .directorist-select__dropdown{
    background: #fff;
    box-shadow: 0 10px 40px rgb(134 142 174 / 30%);
    padding: 15px;
    box-sizing: border-box;
    margin-top: 2px;
    max-height: 400px;
    overflow-y: auto;
}
.directorist-select.directorist-select-multi .directorist-select__container .directorist-select__dropdown ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
.directorist-select.directorist-select-multi .directorist-select__container .directorist-select__dropdown ul li{
    font-size: 14px;
    padding: 5px 10px;
    cursor: pointer;
}

.directorist-select.directorist-select-multi .directorist-select__container .directorist-select__dropdown ul li.directorist-select-item-show{
    background-color: #F4F5F7;
    border-radius: 4px;
}
span.directorist-select__selected-list--item:first-letter {
    text-transform: capitalize;
}

/* Directorist Error */
.directorist-select__container.directorist-error .directorist-select__label{
    border-color: rgb(199, 6, 6) !important;
}
.directorist-error .directorist-error__msg{
    display: inline-block;
    margin-top: 12px;
    font-size: 14px;
    color:rgb(199, 6, 6);
}
