.side-bar {
    width: 277px;
    box-shadow: -2px 2px 18px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding-top: 75px;
    height: auto;
    background: var(--theme-white);
}

.side-bar .sideBar-links a {
    margin-bottom: 12px;
    padding-right: 1.5rem;
}
.side-bar .sideBar-links img {
    margin-left: 1.5rem;
}
.main-content{
    padding-top: 50px;
}

.main-content .personal-card {
    padding: 36px 46px;
}
.stat-card{
    padding: 30px 37px;
    height: 100%;
}
.account-setting .form-control{
    height: 48px;
    text-align: end;
}
.account-setting .accout-id {
    margin-right: 84px;
}
.account-setting .btn {
    height: 61px;
    width: 310px;
    max-width: 100%;
}

/*Favirote User Dashboard Screen*/
.favorite-container
{
    padding: 0 20px;
    width: 100%;
}
.price-section .all-price h3 {
    font-size: 15px;
}

.account-setting .acct-btn:hover{
    background: var(--theme-blue);
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active
{
    border-color: transparent;
    border-bottom: 2px solid var(--theme-blue);
    font-size: 18px;
}
.nav-tabs .nav-link:focus
{
    isolation: auto;
}

.price-section .delete {
    width: 53px;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #E21717;
    border-radius: 8px;
}

/*.nav-tabs .nav-link:hover*/
/*{*/
/*    border-color: transparent;*/
/*}*/

@media screen and (max-width:1200px) {
    .main-content .personal-card {
        padding: 30px 25px;
    }
}

@media screen and (max-width:991px) {
    .side-bar{
        position: fixed;
        height: unset;
        bottom: 0;
        width: 100%;
        padding-top: 1rem;
        z-index: 11;
    }

    .account-setting .accout-id {
        margin-right: 0;
    }

    .side-bar .sideBar-links a {
        width: 50px;
        height: 50px;
        padding: 12px;
        border-radius: 8px;
    }
    .side-bar .sideBar-links span {
        display: none;
    }
    .side-bar .sideBar-links img{
        margin: 0;
    }
}
