.data-collection
{
    padding: 48px 0px;
}

.data-collection h3,p
{
    font-family: TajawalMedium;
    text-align: right;
}

.data-collection .terms-text
{
    font-family: TajawalBold;
}

.all-collection
{
    padding-top: 30px;
}
