.hr {
    border: 1px solid #C9C9C9;
}

.filter {
    background: rgba(255, 255, 255, 0.95);
    box-shadow: -2px 2px 18px rgba(0, 0, 0, 0.1);
    padding: 31px 0px 13px 0px;
}

.map-circle {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: #FFFFFF;
    box-shadow: 1px 1px 18px rgba(41, 32, 113, 0.15);
}

.filter .search-field {
    background: rgba(255, 255, 255, 0.95);
    height: 61px;
    box-shadow: -2px 2px 18px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    font-size: 16px;
    color: var(--theme-seondary-black);
    text-align: end;
}

.filter .serch-icon {
    top: 8px;
    left: 8px;
}

.detail
{
    display: flex !important;
    justify-content: end !important;
    flex-direction: row !important;
    align-items: end !important;
    flex-wrap: wrap;
    gap: 20px;
}

.item-header .breadcrumb-item+.breadcrumb-item::before {
    content: '<';
    color: var(--theme-seondary-black);
    font-weight: bold;
}

.item-header .breadcrumb-item.active::after{
    content: '<';
    color: var(--theme-seondary-black);
    font-weight: bold;
    padding: 0 5px;
}

.item-header .breadcrumb-item {
    font-size: 14px;
}

.item-header .title {
    font-size: 18px;
}

.item-header .detail .icon {
    width: 26px;
    height: 26px;
    border: 0;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.75);
    box-shadow: -2px 2px 18px rgba(0, 0, 0, 0.1);
    margin: 0px 4px;
}

.share-dropdown-menu
{
    margin-left: -62px !important;
    margin-top: 10px !important;
}

.item-header .detail .icon img
{
    margin-left: 12px;
}

.carousel-single-item
{
    height: 600px;
    background: black;
    border-radius: 8px;
}

.sin-carousel-items
{
    width: 100%;
    height: 100%;
    position: relative;
}

.sin-carousel-items img
{
    object-fit: contain;
    height: 100%;
}

/*.item-header .item-carousel {*/
/*    max-height: 603px;*/
/*    object-fit: cover;*/
/*}*/

/* Property Detail */
.property-detail .card {
    border: 0.5px solid var(--theme-main);
    box-shadow: -2px 2px 18px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 36px 24px;
}

.property-detail .card hr {
    width: 100%;
    border: 1px solid #C9C9C9;
    margin-top: 16px;
    margin-bottom: 36px;
}

.property-detail .card h1 {
    font-size: 31px;
}

.property-detail .card h3 {
    font-size: 18px;
}

.property-detail .card li {
    margin-left: 60px;
}

.property-detail .card img {
    margin-left: 6px;
}

.contact-btn {
    box-shadow: -2px 2px 18px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    height: 41px;
    font-size: 16px;
}

.contact-btn .phone {
    left: 80px;
}

.tag {
    max-width: 100%;
    height: 35px;
    border: 0.5px solid #292071;
    border-radius: 8px;
    padding: 0 12px;
    margin-left: 20px;
}

.carousel-control-next,
.carousel-control-prev {
    position: unset;
    width: unset;
    width: 48px;
    background-color: white;
    height: 48px;
    opacity: 1;
    margin: auto;
    border: 2px solid var(--theme-blue);
    border-radius: 50%;
}

.carousel-control-prev-icon {
    background-image: url(/assets/images/arrow-left.png);
    width: 10px;
    font-width: bold;
    height: 13px;
}

.carousel-control-next-icon {
    background-image: url(/assets/images/arrow-right.png);
    width: 7px;
    height: 13px;
}

.carousel-indicators [data-bs-target] {
    border-radius: 50%;
    width: 11px;
    height: 11px;
    opacity: 1;
    border: 0px;
}

.carousel-indicators .active {
    background: #292071;
}


/* Media Query */

@media screen and (max-width:1400px) {
    .property-detail .card li {
        margin-left: 30px;
    }
}

@media screen and (max-width:992px) {
    .tag {
        margin-left: 10px;
    }
    .carousel-control-next, .carousel-control-prev {
        width: 25px;
        height: 25px;
    }
}

@media screen and (max-width:767px) {
    .carousel-control-next, .carousel-control-prev {
        display: none;
    }
}


